/*General Styles*/
html {
    font-family: Arial, Helvetica, sans-serif;
    color: #343837;
}

body {
    background-image: url("images/purple.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    background-color: #D6B4FC;
}

div {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

h2{
    font-size: 2rem;
    text-align: left;
    color: #fff;
}

h3{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

header a {
    font-size: 1rem;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    width: 100%;
    display: inline-block;
    color: #fff;
}

header {
    height: 70px;
    background-color: #5D21D0;
}

nav {
    background-color: #5D21D0;
    color: #fff;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    font: 120% system-ui;
    text-align: center;
    padding: 0px 0px;
      }
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
        font-weight: 900;
    }

footer {
    width:100%;
    height:auto;
    background: #5D21D0;
    color: #fff;
    text-align: center;
    padding-top: 0px;
}

.quotes{
    color: #fff;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

/*Homepage Styles*/
.center {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 60%;
  }

/*About Me Styles*/
  * {
    box-sizing: border-box;
}

/* Style Row */
.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

/* Make the columns stack on top of each other */
.row > .column {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* When Screen width is 400px or more make the columns stack next to each other*/
@media screen and (min-width: 400px) {
    .row > .column {    
      flex: 1 0 29%;
    }
}

.column {
    height: auto;
    padding: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: middle;
    background-color: #01F9C6;
    border: outset;
    
}

.column img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
    object-fit: cover; 
}

/*About me - Responsive design for images*/
    /* For devices 1200px and larger: */
  @media only screen and (min-width: 1200px) {
    .column img  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 200px;
        object-fit: cover; 
    }
  }

/*About Me - Community video formating to centered*/
.video {
    text-align: center;
}

#about-me {
    background-color: #D6B4FC;
}

/*Projects Styles*/
#d-projects {
    text-align: center;
}

#projects img{
    display: block;
    margin-left: none;
    margin-right: none;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

/*Projects Section styles*/
.section {
    background-color: #01F9C6;
    border: outset;
    margin-top: 30px;
}

#header-text h1 {
    display: inline;
}

#emphasis {
    color: #fff;
    margin-right: 1rem;
}

.selected {
    font-weight: bold;
}

/*Contact Me Styles*/
button {
    padding: 10px;
    width: 110px;
    display: block;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    font-size: 0.8rem;
}

.column button {
    background-color: transparent;
}

form {
    margin: 50px auto;
    width: 90%;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #5D21D0;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #01F9C6;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #5D21D0;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    border: 2px solid #01F9C6;
    background-color: #01F9C6;
    color: #FFF;
}

.form-item button {
    width: 100px;
}

/*Contact me - Image Style*/
#letter img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 5px solid #555;
    width: 60%;
    max-height: 200px;
    height: auto;
    object-fit: cover;
}

/*Contact me - Responsive design for image*/
    /* For devices less than 600px: */
    @media only screen and (max-width: 600px) {
        #leter img  {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            border: 5px solid #555;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
      }